*{
  margin: 0;
  padding: 0;
}

header{
display: flex;
z-index: 4;
background-color: #faa61a;
position:fixed;
width: 100%;
}

.logo-name{
  display: flex;
  flex-direction: row;
  border: none;
  padding: 0 8px;
  cursor: pointer;
  width: 15%;
}
.logo {
  width: 70px;
  height: 70px;
  padding: 0;
}
h2{
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar{
  margin: 0 10px;
  display: flex;
  align-items: center;
  width: 50%;
}
ul{
  display: flex;
}
li{
  padding: 0 10px;
  list-style: none;
  cursor: pointer;
  font-size: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: BOLD;
}
a{
  text-decoration: none;
  color: black;
}
.login-sign{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 30%;
  padding: 0 20px;
}
.login,.signup{
  margin-right: 10px;
  padding: 10px 15px;
  font-size: 15px;
  font-weight: bold;
  background-color: rgb(4, 4, 190);
  border: none;
  border-radius: 7px;
  color: white;
  cursor: pointer;
}
select{
  margin-right: 30px;
  border-radius: 5px;
  font-size: 15px;
  width: 150px;
  height: 30px;
  font-weight: bold;
  padding-left: 10px;
  border: none;
  cursor: pointer;
}






#section1{
  height: 800px;
  position: relative;
  background-image: url(Media/ИЗУЧЯЕМ\ КОМНАТЫ.png);
  background-repeat: no-repeat;
  background-size: cover;
}
.heading {
  font-size: 75px;
  font-weight: bold;
  padding: 20px 3px;
  
}
strong{
  color: red;
}
.heading-container{
  position: absolute;
  left: 40px;
  top: 80px;
  width: 30%;
  margin-left: 40px;
  padding: 10px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
}
.headDownImg{
  height: 40px;
  width: 60px;
  
}
.headDownTexts {
  font-size: 20px;
  color: black;
  font-weight: bold;
  padding: 2px;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 0px 0.1px;
  background-color: rgb(190, 189, 189);
  margin: 5px 0;
}
.section{
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.sectionheader{
  display: block;
}
.containerdiv{
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto auto;
  width: 80%;
}
.teachers,.planBox,.commentBox{
  height: 300px;
  width: 100%;
  border-radius: 20px;
  box-shadow: 1px 1px 6px 0.5px;
}
.teachersImg{
  display:block;
  margin-right: auto; 
  margin: auto;
  height: 200px;
  width: 150px;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 15px;
  
}
.namep,.country{
  padding-left: 20px;
}
.namep{
  font-size: 25px;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

}

.country{
  font-size: 18px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.sectionheader{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  font-size: 40px;
  color: rgb(104, 99, 99);
  margin: 60px 0;
}

.studentImg{
  height: 70px;
  width: 70px;
  border-radius: 50%;
}
.feedback{
  padding: 20px;
  font-size: 20px;
  text-align: center;
}